$header-height: 72px;
$map-menu-right: 10px;
$map-menu-top: 10px;

.ui-map-container {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: calc(100vh - #{$header-height});
}

.map-menu {
  position: absolute;
  right: $map-menu-right;
  top: $map-menu-top;
  z-index: 100;
}

.ui-map {
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
  min-height: calc(100vh - #{$header-height});
  z-index: 10;
}

.main-app-wrap {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.row-wrap {
  width: 100%;
}
