<tourhunter-header></tourhunter-header>
<div class="main-app-wrap">
  <div
    class="row-wrap"
    nz-row
    [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }"
  >
    <div nz-col class="gutter-row" [nzSpan]="4">
      <nz-tree
        #nzTreeComponent
        (nzClick)="clickedTree($event)"
        [nzData]="nodes"
        nzBlockNode
      >
      </nz-tree>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="16">
      <div class="ui-map-container">
        <tourhunter-ui-map
          [pointMarker]="statusForm"
          [data]="selectedData"
          (pointedCoord)="pointedCoord($event)"
          (hoveredMarker)="findMarker($event)"
          class="ui-map"
        ></tourhunter-ui-map>
        <tourhunter-menu-map
          *ngIf="pointValue"
          [pointedCoord]="pointedCoordData"
          [geozoneValue]="geozoneValue"
          [massiveValue]="massiveValue"
          [pointValue]="pointValue"
          (opened)="openedForm($event)"
          (submited)="submitData($event)"
          (geozoneSelected)="findMassiveByGeozoneKey($event)"
          class="map-menu"
        ></tourhunter-menu-map>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="4">
      <nz-alert
        nzType="warning"
        *ngFor="let item of hoveredMarker"
        nzCloseable
        [nzMessage]="item.title"
        (nzOnClose)="afterClose(item)"
      >
      </nz-alert>
    </div>
  </div>
</div>
